@mixin userName() {
    font-size: large;
    color: var(--black);
    font-style: italic;
}

@mixin followButton() {
    height: 2.5em;
    width: 80px;
    background-color: var(--mainGreen);
    font-weight: bold;
    color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--chirpLightGreen2);
}

@mixin glassmorphism() {
    background: rgba( 8, 136, 125, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(5, 7, 24, 0.242);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}