@import './vars.css';

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.3fr 1fr 0.3fr;

    grid-template-areas:
        'header header header'
        'nav main aside';
    height: 100vh;

}

.header {
    grid-area: header;
}

.nav {
    display: flex;
    grid-area: nav;
    background-color: var(--menuBg);
    align-items: center;
    justify-content: center;

    ul {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        li {
            margin: 10px;
            a {
                text-decoration: none;
                padding: 10px;
                color: var(--black);
                font-family: var(--regularText);
                img{
                    position: relative;
                    top: 8px;
                    right: 5px;
                    margin: 5px;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
    background-color: var(--pageBg);
    chirp-box{
        margin-top: 15px;
    }
}

.section {
    grid-area: aside;
    background-color: var(--pageBg);
}