body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c4fffb;
  min-height: 100vh;
}

header {
  background-color: #08887d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #c4fffb;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #08887d;
  font-weight: bold;
}

.info-container {
  display: none;
  background-color: #fff;
}

.info-container--show {
  display: flex;

  column-gap:1rem;
  min-height: 100px;
  padding:0.5rem;
  min-width: 450px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #08887d;
  color: aliceblue;
  padding: 0.25rem 0.5rem;
  box-shadow: 0.2rem 0.1rem 0.2rem lightgrey;
  cursor: pointer;
}

.btn--reset {
  border-radius: 0.4rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

#text {
  display: inline;
}

@media only screen and (min-width: 768px) {
  .menu{
    width: 700px;
  }
  .menu ul {
    display: flex;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .info-container--show{
    width: 700px;
  }

}