:root {
    /* COLORS */
        /* WHITE */
        --white: #FAFAFA;
        --gray: #eff1f5;
        --pageBg: #eaeaea;

        /* GREEN */
        --mainGreen: #08887d;
        --chirpLightGreen: #bbf0eb;
        --chirpBg: #e5fffc;
        --menuBg: #c4fffb;
        
    /* SHADOWS */
        /* TEXT */
        --textShadow: 2px 2px 3px rgba(0,0,0,0.3);

    }