:root {
    /* COLORS */
        /* WHITE */
        --white: #FAFAFA;
        --gray: #eff1f5;

        /* GREEN */
        --mainGreen: #08887d;
        --chirpLightGreen2: #86cac3;
        --chirpLightGreen: #bbf0eb;
        
    /* SHADOWS */
        /* TEXT */
        --textShadow: 2px 2px 3px rgba(0,0,0,0.3);
    }