@import 'vars.css';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Syne:wght@400;600&display=swap");

@mixin title($size: 3em) {
    font-family: Syne;
    font-size: $size;
}

@mixin text{
    font-family: 'Source Sans 3';
    font-size: medium;
}

@mixin textSpacing{
    padding: 15px;
    margin: 15px;
}

@mixin button{
    padding: 10px;
    font-family: 'Source Sans 3';
    font-size: medium;
    background-color: var(--menuBg);
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    &:hover{
        border: 1px solid black;
        box-sizing: border-box;
        cursor: pointer;
    }
    
}

#headerDropdownButton{
    display: none;
}

main{
    margin: 0;
    padding: 0;
    background-color: var(--chirpBg);
    display: flex;
    flex-direction: column;
    .outer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px;
        padding: 15px;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        justify-content: center;
        h1{
            @include title;
            @include textSpacing;
        }
        p{
            max-width: 70%;
            font-family: 'Source Sans 3';
            font-size: larger;
            @include textSpacing;
        }
        .buttons{
            button{
                @include button;
            }
        }
        .sections{
            margin-top: 25px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            .features{
                @include text;
                h2{
                    @include title(1.5em);
                }
            }
        }
    }
}