@import 'vars.css';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Syne:wght@400;600&display=swap");
#headerDropdownButton {
  display: none;
}

.header chirp-header header #desktopUser {
  display: none;
}

main {
  margin: 0;
  padding-top: 50px;
  background-color: var(--pageBg);
  display: flex;
  flex-direction: column;
}
main .outer-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  justify-content: center;
}
main .outer-container h1 {
  font-family: Syne;
  font-size: 3em;
  color: aliceblue;
  padding: 15px;
  margin: 15px;
}
main .outer-container p {
  max-width: 600px;
  font-family: "Source Sans 3";
  font-size: larger;
  color: var(--chirpBg);
  padding: 15px;
  margin: 15px;
}
main .outer-container .buttons button {
  min-width: 100px;
  padding: 15px;
  font-family: "Source Sans 3";
  font-size: medium;
  background-color: var(--menuBg);
  margin: 15px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
}
main .outer-container .buttons button:hover {
  border-radius: 20px;
  background-color: var(--white);
  cursor: pointer;
}
main .outer-container .sections {
  margin-top: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin: 10px;
}
main .outer-container .sections .features {
  padding: 20px;
  margin: 20px;
  font-family: "Source Sans 3";
  font-size: medium;
  color: aliceblue;
}
main .outer-container .sections .features h2 {
  font-family: Syne;
  font-size: 1.5em;
  color: aliceblue;
}
main .outer-container .sections .features ul {
  padding: 10px;
  margin: 10px;
}
main .outer-container .contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
main .outer-container .contact-form h2 {
  font-family: Syne;
  font-size: 1.5em;
  color: aliceblue;
}
main .outer-container .contact-form form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
main .outer-container .contact-form form input {
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px black;
  min-width: 300px;
}
main .outer-container .contact-form form textarea {
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px black;
  min-width: 300px;
}
main .outer-container .contact-form form #send {
  min-width: 100px;
  padding: 10px;
  font-family: "Source Sans 3";
  font-size: medium;
  background-color: var(--menuBg);
  margin: 15px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
main .outer-container .contact-form form #send:hover {
  border-radius: 20px;
  background-color: var(--white);
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--mainGreen);
  padding: 20px; /* Adjust padding as needed */
  text-align: center;
  font-family: "Source Sans 3";
  font-size: medium;
  color: aliceblue;
}

@media screen and (max-width: 600px) {
  main .outer-container .sections {
    display: none;
  }
}/*# sourceMappingURL=welcome.css.map */